#/etc/systemd/system/parser.service
[Unit]
Description=kinescope parser

[Service]
ExecStart=/home/dotsenkois/main.py

[Install]
WantedBy=multi-user.target